[submodule "model/module"]
	path = model/module
	url = https://github.com/ultralytics/yolov5
[submodule "app/web-app/flask"]
	path = app/web-app/flask
	url = https://github.com/nhtlongcs/yolov5-flask
	